fastapi
uvicorn
openai
python-multipart
PyMuPDF
python-dotenv
supabase
eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx6cXl1ZnR2dmlmZ2t5amt3d21lIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MDM0NTE3OSwiZXhwIjoyMDY1OTIxMTc5fQ.Lm93CCzO8F2Dg2hSUD7V7POEiJeq7H5mucvUErCTYHw